# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Build & Maven
target/
HELP.md

# Secrets
backend/src/main/resources/application-dev.yml

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
