.bg-header-app{
    background-image: linear-gradient(to right, #5b4503, #705101c7, #876101c7 80%);
}

.nameApp{
    text-decoration:overline;
    color: rgb(221, 249, 251);
}

.piggy-bank{
    color: rgb(253, 253, 255);
    background: rgb(47, 27, 1);
    border-radius: 1cap;
    filter: drop-shadow(12px 5px 1px rgba(1, 1, 60, 0.595)) drop-shadow(0 3px 15px rgba(135, 194, 7, 0.996));
}

.user-icon{
    color: rgb(253, 253, 255);
    background: rgb(85, 0, 243);
    border-radius: 1cap;
    padding: 1%;
}


.database-icon{
    color: rgba(248, 240, 6, 0.976);
    filter: drop-shadow(12px 5px 1px rgba(169, 85, 1, 0.185)) drop-shadow(0 3px 15px rgba(255, 191, 1, 0.996));

}

.bg-app{
    background-image: linear-gradient(to right, #010010, #080400, #060010 80%);

}

.bg-data-input{
    background: rgba(82, 62, 2, 0.196);
}

::placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.register-font{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.money-icon-bg{
    color: rgba(31, 13, 1, 0.898);
    filter: drop-shadow(10px 10px 3px rgb(80, 234, 80)) 
    drop-shadow(0 20px 15px rgba(255, 213, 0, 0.971)) 
    drop-shadow(0 3px 100px rgb(255, 192, 1))
    drop-shadow(0 3px 100px rgb(255, 1, 132));
}

@keyframes perspective-money-animated {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg); 
    }
}

.money-animated{
    animation: perspective-money-animated 7s linear infinite;
}

.bitcoin-iccon{
    transform:
    rotateX(170deg)
    rotateZ(3deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;

  &:hover {
    transform:
      translate3d(0px, -10px, 0px)
      rotateX(170deg)
      rotateZ(3deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
}

.cripto-brl{
    color: rgb(255, 255, 255);
    background: rgba(16, 20, 26, 0.956);
    padding: 1%;
    filter: drop-shadow(2px 1px 100px rgb(8, 9, 10)) drop-shadow(0 2px 10px rgba(122, 122, 174, 0.563));
}