.bg-header-app{
    background-image: linear-gradient(to right, #5b4503, #705101c7, #876101c7 80%);
}

.nameApp{
    text-decoration:overline;
    color: rgb(221, 249, 251);
}

.piggy-bank{
    color: rgb(253, 253, 255);
    background: rgb(47, 27, 1);
    border-radius: 1cap;
    filter: drop-shadow(12px 5px 1px rgba(1, 1, 60, 0.595)) drop-shadow(0 3px 15px rgba(135, 194, 7, 0.996));
}

.user-icon{
    color: rgb(253, 253, 255);
    background: rgb(85, 0, 243);
    border-radius: 1cap;
    padding: 1%;
}


.database-icon{
    color: rgba(248, 240, 6, 0.976);
    filter: drop-shadow(12px 5px 1px rgba(169, 85, 1, 0.185)) drop-shadow(0 3px 15px rgba(255, 191, 1, 0.996));

}

.bg-app{
    background-image: linear-gradient(to right, #010010, #080400, #060010 80%);

}

.bg-data-input{
    background: rgba(82, 62, 2, 0.196);
}

::placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.register-font{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.money-icon-bg{
    color: rgb(255, 205, 5);
    filter: drop-shadow(10px 10px 8px rgba(80, 234, 80, 0.218)) 
    drop-shadow(0 3px 15px rgba(59, 255, 5, 0.471)) 
    drop-shadow(0 3px 100px rgba(255, 191, 1, 0.996));
}

@keyframes perspective-money-animated {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg); /* Ou o ângulo final que desejar */
    }
}

.money-animated{
    animation: perspective-money-animated 7s linear infinite;
}